<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FinanceTracker General Weekly Report</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <style>
    </style>
    <body>
        <h1 style="font-size:16px" th:utext=" 'Hi ' + ${user.username} + '!' ">Hi!</h1>
        <p>It's your weekly financial report</p>
        <p th:utext=" 'Date: ' + ${dateInterval.startDate[0]} + '.' + ${dateInterval.startDate[1]} + '.' + ${dateInterval.startDate[2]} +  ' - '  + ${dateInterval.endDate[0]} + '.' + ${dateInterval.endDate[1]} + '.' + ${dateInterval.endDate[2]}"></p>
        <table class='table table-striped' style="width: 410px; margin-bottom: 20px; border-collapse: collapse; background-color: #fae1dd">
            <caption>Expense Summary</caption>
            <tr>
                <td th:attr="style='border: 1px solid grey; padding: 8px; background-color: #fcd5ce; width: 110px'">Total</td>
                <td th:attr="style='border: 1px solid grey; padding: 8px;'" th:utext="${totalExpenses}"></td>
            </tr>
            <tr>
                <td th:attr="style='border: 1px solid grey; padding: 8px; background-color: #fcd5ce; width: 110px'">Daily average</td>
                <td th:attr="style='border: 1px solid grey; padding: 8px;'" th:utext="${averageDailyExpense}"></td>
            </tr>
            <tr>
                <td th:attr="style='border: 1px solid grey; padding: 8px; background-color: #fcd5ce; width: 110px'" >Largest spend</td>
                <td th:attr="style='border: 1px solid grey; padding: 8px;'" th:utext="'date: ' + ${largestExpense.date[0]} + '.' + ${largestExpense.date[1]} + '.' + ${largestExpense.date[2]} + ' price: ' + ${largestExpense.price} + ' category: ' + ${largestExpense.category.name}"></td>
            </tr>
        </table>
        <table class='table table-striped' style="width: 410px; border-collapse: collapse; background-color: #caf0f8">
            <caption>Income Summary</caption>
            <tr>
                <td th:attr="style='border: 1px solid grey; padding: 8px; background-color: #ade8f4; width: 110px'">Total</td>
                <td th:attr="style='border: 1px solid grey; padding: 8px;'" th:utext="${totalIncomes}"></td>
            </tr>
        </table>
        <p>Your budget summary on this week: <b th:utext="${budgetSummary}"></b> </p>
    </body>
</html>