<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FinanceTracker General Weekly Report</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <style>
    </style>
    <body>
        <h1 style="font-size:15px" th:utext=" 'Hi ' + ${user.username} + '!' ">Hi!</h1>
        <p>Welcome to Finance Tracker! 🎉 We're excited to have you on board as a member of our budget management community.</p>
        <p>Finance Tracker is all about making budgeting simple and efficient. With our app, you can easily keep track of your expenses, set financial goals, and gain better control over your finances.</p>
        <p>Feel free to explore the app, add your expenses, and start working toward your financial goals. We believe you'll find it incredibly useful.</p>
        <p>Thanks for joining us, and here's to a brighter financial future!</p>
    </body>
</html>